.themeToggle {
  position: fixed;
  width: fit-content;
  padding: .5rem 1rem;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  border: 1px solid white;
  border-radius: 20%;
}
